.about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 112px;
}
.about-us__title {
    line-height: 86px;
}
.about-us__subtitle {
    margin-bottom: 3px;
}
.about-us__text-wrap {
    max-width: 555px;
    margin-right: 84px;
}
.about-us__slogan {
    margin: 0;
    margin-bottom: 5px;

    font-family: @circe;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 27px;
}
.about-us__slogan-interpretation {
    margin: 0;
    margin-bottom: 15px;

    font-family: @circe;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;

    &:last-of-type {
        margin-bottom: 20px;
    }
}
.about-us__baker-photo {
    border-radius: 50%;
    margin-bottom: 112px;
}
.about-us__social {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.about-us__social-item {
    width: 36px;
    height: 36px;
    background-color: #fff;
    margin-right: 18px;

    &--insta {
        fill: @pink-color;
    }
    &--vk {
        fill: @pink-color;
        stroke: @pink-color;
        stroke-width: 8;
    }
    &--twit {
        background-size: 19px 16px;
    }

    &:last-child {
        margin-right: 0;
    }
}
.about-us__bakers-quote {
    width: 100%;
    padding-top: 70px;
    margin: 0;
    background-image: url("../img/quotes.png");
    background-repeat: no-repeat;
    background-position: center top;
}
.about-us__bakers-quote-text {
    max-width: 616px;
    margin: 0 auto;
    margin-bottom: 44px;

    font-family: @playFair;
    font-weight: 700;
    font-style: italic;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
}
.about-us__backers-sighnification {
    display: block;
    margin: 0 auto;
}