.about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 112px;

    @media @tablet-width {
        margin-bottom: 63px;
        padding: 0 46px;
    }
}
.about-us__title {
    line-height: 90px;

    &.section-title {
        @media @tablet-width {
            line-height: 45px;
        }
    }
}
.about-us__subtitle {
    @media @tablet-width {
        margin-bottom: 5px;
        text-align: left;
    }
}
.about-us__text-wrap {
    max-width: 555px;
    margin-right: 84px;

    @media @tablet-width {
        max-width: 328px;
        max-height: 312px;
        margin-right: 35px;
    }
}
.about-us__slogan {
    margin: 0;
    margin-bottom: 5px;

    font-family: @circe;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 27px;

    @media @tablet-width {
        margin-bottom: 6px;

        font-size: 15px;
        line-height: 17px;
    }
}
.about-us__slogan-interpretation {
    margin: 0;
    margin-bottom: 15px;

    font-family: @circe;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;

    &:last-of-type {
        margin-bottom: 20px;

        @media @tablet-width {
            max-width: 275px;
            max-height: 31px;
            margin-bottom: 15px;
            overflow: hidden;
        }
    }

    @media @tablet-width {
        margin-bottom: 10px;

        font-size: 14px;
        line-height: 17px;
    }
}
.about-us__baker-photo {
    border-radius: 50%;
    margin-bottom: 104px;

    @media @tablet-width {
        margin-bottom: 27px;
    }
}
.about-us__social {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.about-us__social-item {
    width: 36px;
    height: 36px;
    background-color: #fff;
    margin-right: 18px;

    &--insta {
        fill: @pink-color;
    }
    &--vk {
        fill: @pink-color;
        stroke: @pink-color;
        stroke-width: 8;
    }
    &--twit {
        background-size: 19px 16px;
    }

    &:last-child {
        margin-right: 0;
    }
}
.about-us__bakers-quote {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 120px;
    margin: 0;
    background-image: url("../img/quotes.png"),
    url("../img/baker-sighnification.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center top, center bottom;

    @media @tablet-width {
        padding-top: 37px;
        padding-bottom: 65px;
        background-image: url("../img/tablet/quotes.png"),
        url("../img/tablet/baker-sighnification.png");
    }
}
.about-us__bakers-quote-text {
    max-width: 616px;
    margin: 0 auto;

    font-family: @playFair;
    font-weight: 700;
    font-style: italic;
    font-size: 25px;
    line-height: 38px;
    text-align: center;

    @media @tablet-width {
        max-width: 346px;

        font-size: 14px;
        line-height: 21px;
    }
}
.about-us__backers-sighnification {
    display: block;
    margin: 0 auto;
}