.about-us {
    position: relative;

    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 40px;

    @media @tablet-width {
        max-width: 1000px;
        margin-bottom: 63px;
        padding: 0 46px;
    }

    @media @desktop-width {
        margin-bottom: 112px;
    }
}

.about-us__title {
    margin-bottom: 12px;

    line-height: 47px;

    @media @tablet-width {
        margin-bottom: 0;

        text-align: left;
    }
}

/*.about-us__title.section-title {
    position: absolute;
    top: 0;
    line-height: 45px;
    width: 88%;

    @media @tablet-width {
        line-height: 45px;
    }
}*/

.about-us__bakers-photo-wrap {
    display: flex;

    margin-bottom: 8px;
    padding: 0 20px;
    box-sizing: border-box;

    @media @tablet-width {
        position: absolute;
        top: 0;
        left: 0;

        flex-direction: row-reverse;

        width : 100%;
        padding: 0 46px;
    }
}

.about-us__baker-photo {
    display: block;
    width: 155px;
    height: 155px;
    margin-right: 35px;
    border-radius: 50%;

    @media @tablet-width {
        width: 311px;
        height: 310px;
        margin-right: 0;
    }
}

.about-us__social {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @media @tablet-width {
        flex-direction: row;
        margin-right: auto;
        margin-top: auto;
    }
}

.about-us__social-item {
    width: 36px;
    height: 36px;
    margin-bottom: 15px;
    background-color: #fff;

    @media @tablet-width {
        margin-right: 20px; 
        margin-bottom: 0;
    }

    &--insta {
        fill: @pink-color;
    }
    &--vk {
        fill: @pink-color;
        stroke: @pink-color;
        stroke-width: 8;
    }
    &--twit {
        background-size: 19px 16px;
    }

    &:last-child {
        margin-right: 0;

        @media @mobile-width {
            margin-bottom: 0;
        }
    }
}

.about-us__subtitle {
    margin-bottom: 3px;

    line-height: 35px;
    text-align: left;

    @media @tablet-width {
        margin-bottom: 5px;
        text-align: left;
    }
}

.about-us__text-wrap {
    margin: 0;
    margin-bottom: 40px;
    padding: 0 15px 0 20px;

    @media @tablet-width {
        max-width: 328px;
        padding: 0;
        margin-right: 35px;
        margin-bottom: 90px;
    }

    @media @desktop-width {
        max-width: 555px;
        margin-bottom: 191px;
    }
}

.about-us__slogan {
    margin: 0;
    margin-bottom: 6px;

    font-size: 15px;
    line-height: 17px;

    font-family: @circe;
    font-weight: 700;
    font-style: normal;

    @media @tablet-width {
        margin-bottom: 8px;
    }

    @media @desktop-width {
        margin-bottom: 5px;

        font-size: 20px;
        line-height: 27px;
    }
}

.about-us__slogan-interpretation {
    margin: 0;
    margin-bottom: 15px;

    font-family: @circe;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;

    @media @tablet-width {
        margin-bottom: 10px;
    }

    @media @desktop-width {
        font-size: 18px;
        line-height: 24px;
    }

    &:last-of-type {
        margin-bottom: 10px;

        @media @tablet-width {
            max-width: 275px;
            max-height: 31px;
            margin-bottom: 15px;
            overflow: hidden;
        }

        @media @desktop-width {
            margin-bottom: 20px;
        }
    }
}



.about-us__bakers-quote {
    padding-top: 30px;
    padding-bottom: 50px;
    margin: 0 auto;
    background-image: url("../img/mobile/quotes.png"),
                      url("../img/mobile/baker-sighnification.png");
    background-repeat: no-repeat, 
                       no-repeat;
    background-position: center top, 
                         center bottom;
    

    @media @tablet-width {
        padding-top: 37px;
        padding-bottom: 65px;
        background-image: url("../img/tablet/quotes.png"),
                          url("../img/tablet/baker-sighnification.png");
    }

    @media @desktop-width {
        width: 100%;
        padding-top: 70px;
        padding-bottom: 120px;
        margin: 0;
        background-image: url("../img/quotes.png"),
                          url("../img/baker-sighnification.png");
    }
}

.about-us__bakers-quote-text {
    max-width: 260px;
    margin: 0 auto;

    font-family: @playFair;
    font-weight: 700;
    font-style: italic;
    font-size: 13px;
    line-height: 16px;
    text-align: center;

    @media @tablet-width {
        max-width: 346px;

        font-size: 14px;
        line-height: 21px;
    }

    @media @desktop-width {
        max-width: 616px;

        font-size: 25px;
        line-height: 38px;
    }
}

.about-us__backers-sighnification {
    display: block;
    margin: 0 auto;
}