.cakes {
    margin-top: -69px;
    margin-bottom: 44px;
    padding: 0 73px;
    box-sizing: border-box;
}
.cakes__title {
    margin: 0;
    margin-bottom: 50px;
}
.cakes__list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;

    padding: 0;
    margin: 0;

    list-style: none;
}
.cakes__list-item {
    position: relative;

    background-color: #fff;
    box-shadow: 0 10px 13px 0 rgba(163, 6, 60, .05);

    font-family: @circe;

    &--big {
        width: 695px;
        height: 652px;

        margin-bottom: 46px;
    }

    &--small {
        width: 484px;
        height: 305px;
    }

    &:hover,
    &:focus {
        box-shadow: 0 10px 13px 0 rgba(163, 6, 60, .13);
    }
}
    
.cakes__list-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 484px;
    margin-bottom: 46px;
}

.cakes__list-item-title {
    position: absolute;
    left: 46px;
    top: 34px;

    margin: 0;

    font-size: 24px;
    line-height: 29px;
    color: @main-text-color;
}
.cakes__list-item-subtitle {
    margin: 0;

    font-size: 20px;
    line-height: 24px;
    color: rgba(45, 40, 41, .7);
    text-decoration: none;
}
.cakes__list-item-look {
    position: absolute;
    right: 63px;
    bottom: 28px;

    display: block;

    font-size: 20px;
    line-height: 29px;
    color: @main-text-color;
    text-decoration: none;
}
    .cakes__list-item-look svg {
        position: absolute;
        bottom: 8px;
        right: 0;

        fill: #757575;
    }
    .cakes__list-item-look:hover svg,
    .cakes__list-item-look:focus svg {
        fill: @pink-color;
    } 
.cakes__list-item-look-text {
    margin-right: 47px;
}