.cakes {
    margin-top: 0;
    margin-bottom: 45px;
    padding: 0px 20px;
    box-sizing: border-box;

    @media @tablet-width {
        margin-bottom: 55px;
    }

    @media @desktop-width {
        margin-top: -69px;
        margin-bottom: 44px;
        padding: 0 73px;
    }
}

.cakes__title {
    margin: 0;
    margin-bottom: 30px;

    @media @tablet-width {
        text-align: left;
        margin-bottom: 30px;
    }

    @media @desktop-width {
        margin-bottom: 52px;
    }
}

.cakes__list {
    max-width: 500px;
    padding: 0;
    margin: 0 auto;

    list-style: none;

    @media @tablet-width { 
        position: relative;

        max-width: 1000px;
        margin: 0 auto;

        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
    }

    @media @desktop-width {
        max-width: 1700px;
    }
}

.cakes__item {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;

    margin-bottom: 10px;

    @media @tablet-width {
        flex-grow: 1;
        margin-bottom: 20px;
    }

    @media @desktop-width {
        margin-bottom: 44px;
    }

    &--big {
        @media @tablet-width {
            position: absolute;

            margin: 0;
        }
    }

    &--classic {
        @media @tablet-width {
            left: 0;
            top: 0;
        }
    }

    &--moussee,
    &--wedding {
        @media @tablet-width {
            padding-left: 440px;
        }

        @media @desktop-width {
            padding-left: 735px;
            margin-left: auto;
        }
    }

    &--men {
        @media @tablet-width {
            padding-right: 440px;
        }

        @media @desktop-width {
            padding-right: 735px;
            margin-right: auto;
        }

        & .cakes__cake-type-title {
            @media @tablet-width {
                top: 30px;
            }
        }
    }

    &--women {
        @media @tablet-width {
            padding-right: 440px;
            margin-bottom: 0;
        }

        @media @desktop-width {
            padding-right: 735px;
            margin-right: auto;
        }

        & .cakes__cake-type-title {
            @media @tablet-width {
                top: 32px;
            }
        }
    }

    &--children {

        @media @tablet-width {
            right: 0;
            bottom: 0;
        }

        & .cakes__cake-type-title {
            @media @tablet-width {
                left: 28px;
                top: 30px;
            }
        }
    }
}


.cakes__item--children .cakes__cake-link {
    background-color: #f3f3f5;
}

.cakes__cake-link {
    position: relative;
    
    width: 100%;
    display: block;
    background-color: #fff;
    box-shadow: 0 10px 13px 0 rgba(163, 6, 60, .05);
    overflow: hidden;

    font-family: @circe;

    &:hover,
    &:focus {
        box-shadow: 0 10px 13px 0 rgba(163, 6, 60, .13);
    }

    &:hover .right-arrow-icon,
    &:focus .right-arrow-icon {
        fill: @pink-color;
    }
}

.cakes__cake-type-img {
    display: block;
    width: 280px;
    margin: 0 auto;

    @media @tablet-width {
        width: 288px;
        height: 184px;
    }

    @media @desktop-width {
        width: 484px;
        height: 305px;
    }
}

.cakes__item--big  .cakes__cake-type-img {
    @media @tablet-width {
        width: 419px;
        height: 388px;  
    }

    @media @desktop-width {
        width: 695px;
        height: 652px;
    }
}

.cakes__cake-type {
    position: absolute;
    left: 11px;
    top: 11px;

    margin: 0;

    font-size: 14px;
    line-height: 18px;
    color: @main-text-color;

    @media @tablet-width {
        left: 25px;
        top: 21px;

        font-size: 15px;
        line-height: 17px;
    }

    @media @desktop-width {
        left: 46px;
        top: 36px;
        font-size: 24px;
        line-height: 28px;
    }

    &--men,
    &--women,
    &--children {

        @media @tablet-width {
            top: 30px;
        }
    }
}

.cakes__amount-of-type {
    display: block;

    font-size: 12px;
    line-height: 15px;
    color: rgba(45, 40, 41, .7);
    text-decoration: none;

    @media @desktop-width {
        font-size: 20px;
        line-height: 24px;    
    }
}

.cakes__cake-look {
    display: none;

    & .right-arrow-icon {
        position: relative;
        right: auto;
        bottom: auto;

        margin-left: 14px;
    }

    @media @tablet-width {
        position: absolute;
        right: 73px;
        bottom: 15px;

        display: block;
        margin: 0;

        font-size: 12px;
        line-height: 29px;
        color: @main-text-color;
    }

    @media @desktop-width {
        right: 65px;
        bottom: 30px;

        font-size: 20px;
    }
}

.right-arrow-icon {
    display: none;

    @media @desktop-width {
        position: absolute;
        right: 65px;
        bottom: 35px;
        vertical-align: middle;

        display: inline-block;

        fill: #757575;
    }
}  