.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    min-height: 780px;

    background-image: url("../img/contacts-straw.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;

    @media @tablet-width {
        min-height: 549px;
        background-image: url("../img/tablet/contacts-straw.jpg");
    }

    &.centering-wrap {
        @media @tablet-width {
            padding: 0 47px;
        }

        @media @mobile-width {
            padding: 0 20px;
            padding-bottom: 51px;
            background-image: none;
        }
    }
}
.contacts__title {
    width: 100%;
    margin-bottom: 20px;

    @media @tablet-width {
        margin-bottom: 0;
    }
}
.contacts__subtitle {
    width: 100%;
    margin-bottom: 13px;

    @media @tablet-width {
        font-size: 22px;
        line-height: 29px;
        text-align: left;
    }

    @media @mobile-width {
        margin-bottom: 4px;
    }
}
.contacts__form-wrap {
    width: 553px;
    margin-right: 78px;

    @media @tablet-width {
        max-width: 346px;
        margin-right: 67px;
    }

    @media @mobile-width {
        margin-right: 0;
        margin-bottom: 27px;
    }
}
.contacts__fill-in-form {
    margin: 0;
    margin-bottom: 50px;

    font-family: @circe;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    color: #000;

    @media @tablet-width {
        max-width: 262px;
        margin-bottom: 12px;

        font-size: 14px;
        line-height: 17px;
    }

    @media @mobile-width {
        margin-bottom: 7px;
    }
}
.contacts__form-field {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 37px;
    
    font-family: @circe;
    font-size: 14px;
    line-height: 18px;

    @media @tablet-width {
        margin-bottom: 10px;
        padding: 16px 10px;
        border: 0;
        border-radius: 5px;
        background-color: #fff;
    }

    &:hover,
    &:focus {
        border-color: #000;
    }
    &:hover::placeholder {
        color: #000;
    }
    &::placeholder {
        color: rgba(0, 0, 0, .2);
    }

    &--question {
        margin-bottom: 80px;
        resize: none; 

        @media @tablet-width {
            min-height: 86px;
            margin-bottom: 33px;
        }

        @media @mobile-width {
            min-height: 89px;
            margin-bottom: 20px;
        }
    }
}
.contacts__form-submit {
    align-self: flex-start;

    min-width: 180px;

    font-family: @circe;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    font-style: normal;
    text-transform: none;

    @media @tablet-width {
        min-width: 160px;

        font-size: 14px;
        line-height: 19px;
    }

    @media @mobile-width {
        min-width: 180px;
        margin: 0 auto;
        padding: 13px 0;

        font-size: 19px;
        line-height: 26px;
    }
}
.contacts__contact-items-wrap {
    max-width: 337px;

    font-family: @circe;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    font-weight: 400;
    font-style: normal;

    @media @tablet-width {
        max-width: 260px;

        font-size: 14px;
        line-height: 17px;
    }
}
.contacts__contact-item-tel-wrap {
    margin: 0;
    margin-bottom: 25px;

    font: inherit; 
    color: inherit;

    @media @tablet-width {
        margin-bottom: 18px;
    }
}
.contacts__contact-item {
    display: inline-block;

    font: inherit; 
    color: inherit;
    text-decoration: none;

    &--mail {
        margin-bottom: 23px;

        @media @tablet-width {
            margin-bottom: 17px;
        }
    }
}
.contacts__social-title {
    margin: 0;
    margin-bottom: 23px;

    font: inherit; 
    color: inherit;

    @media @tablet-width {
        margin-bottom: 18px;
    }

    @media @mobile-width {
        margin-bottom: 8px;
    }
}
.contacts__social-item {
    width: 62px;
    height: 63px;
    margin-right: 27px;
    padding-bottom: 3px;
    box-sizing: border-box;

    &--vk {
        fill: @pink-color;
        stroke: @pink-color; 
        stroke-width: 8; 
    }
    &--insta {
        fill: @pink-color;
    }
    &:last-of-type {
        margin-right: 0;
    }
}
