.customer-care {
    max-width: 500px;
    margin: 0 auto;

    @media @tablet-width {
        max-width: 1000px;
    }

    @media @desktop-width { 
        max-width: 1366px;
        margin: 0 auto;
        margin-top: -210px;
    }
}

.customer-care__inner-wrap {
    padding: 0 48px 0 19px;

    @media @tablet-width {
        max-width: 310px;
        padding-left: 46px;
        padding-top: 0;
    }

    @media @desktop-width {
        max-width: 447px;
        padding-top: 326px;
    }
}

.customer-care .customer-care__title { 
    font-size: 24px;
    line-height: 33px;   
    text-align: left;
    letter-spacing: 0;

    @media @tablet-width {
        margin-bottom: 0;

        font-size: 28px;
        line-height: 40px;
    }
}

.customer-care__subtitle {
    line-height: 30px;

    @media @tablet-width {
        margin-bottom: 10px;

        line-height: 26px;
        text-align: left; 
    }

    @media @desktop-width {
        margin-bottom: 8px;
    }
}

.customer-care__text {
    margin: 0;
    margin-bottom: 7px;

    font-family: @circe;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000;

    @media @desktop-width {
        font-size: 20px;
        line-height: 24px;
    }
}