.individual-order {
    padding: 0 20px;

    @media @desktop-width {
        padding: 0 74px;
    }
}

.individual-order__title {
    line-height: 30px;
    text-align: center;
}

.individual-order__subtitle {
    padding-right: 10px;
    margin-bottom: 13px;

    line-height: 37px;
    text-align: center;

    @media @tablet-width {
        margin-bottom: 30px;
    }

    @media @desktop-width {
        margin-bottom: 53px;
    }
}

.individual-order__steps-list {
    max-width: 500px;
    margin: 0 auto;
    padding: 0;

    list-style: none; 

    @media @tablet-width {
        max-width: 1000px;
    }  

    @media @desktop-width {
        max-width: 1700px;
    }
}

.individual-order__steps-item {
    position: relative;

    margin-bottom: 35px;
    padding: 0 19px 25px;
    background-color: #fff;
    box-shadow: 0 5px 13px 0 rgba(163, 6, 60, .1);

    @media @tablet-width {
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
    }

    @media @desktop-width {
        padding: 52px 80px 60px;
    }
}

.individual-order__steps-title {
    position: absolute;

    margin: 0;

    font-family: @playFair;
    font-size: 16px;
    line-height: 20px;
    color: @pink-color;
    letter-spacing: 0.27px;

    @media @tablet-width {
        width: 112px;

        font-size: 18px;
        line-height: 23px;
    }

    @media @desktop-width {
        max-width: 200px;

        font-size: 27px;
        line-height: 31px;
    }
}

.individual-order__title-number {
    margin: 0;
    margin-right: 5px;

    font-family: @playFair;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: inherit;
    letter-spacing: 0.61px;

    @media @tablet-width {
        margin-bottom: 0;

        font-size: 36px;
        line-height: 45px;
    }

    @media @desktop-width {
        display: block;
        margin-bottom: 6px;

        font-size: 64px;
        line-height: 66px;
    }
}



    



