.intro {
    margin-bottom: 44px;
    background-repeat: no-repeat;
    background-image: url("../img/mobile/intro-cake.png");
    background-position: top -205px center;

    @media @tablet-width {
        min-height: auto;
        margin-bottom: 95px;
        background-image: url("../img/tablet/intro-cake.png");
        background-position: top 10px right;
    }

    @media @desktop-width {
        margin: 0 auto;
        min-height: 940px;
        background-image: url("../img/intro-cake.png");
        background-position: top 0 right -171px;
    }
}

.intro__title {
    @media @tablet-width {
        text-align: left;
    }
}

.intro__text-wrap {
    max-width: 320px;
    margin: 0 auto;
    padding: 105px 20px 0 20px;
    box-sizing: border-box;

    text-align: center;

    @media @tablet-width {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        max-width: 100%;
        padding: 81px 23px 0 45px;
    }

    @media @desktop-width {
        align-items: flex-start;
        padding: 115px 43px 0 74px;
    }
}

.intro__handmade {
    margin: 0;
    margin-bottom: 10px;

    font-size: 22px;
    line-height: 47px;

    @media @tablet-width {
        margin-bottom: 33px;

        font-size: 36px;
        line-height: 77px; 
    }

    @media @desktop-width { 
        margin-bottom: 40px;

        font-size: 41px;
        line-height: 78px; 
    }
}

.intro__choose-cake {
    padding-left: 66px;
    padding-right: 66px;

    @media @tablet-width {
        margin-bottom: 162px;
    }
    @media @desktop-width {
        margin-bottom: 146px;
    }
}

.intro__features {
    margin: 0;
    margin-bottom: 41px;
    padding: 0;

    font-size: 0;
    text-align: left;
    list-style: none;

    @media @tablet-width {
        order: 1;
    }

    @media @desktop-width { 
        margin-bottom: 0;
    }
}

.intro__features-item {
    position: relative;

    padding-left: 42px;
    margin-bottom: 10px;
    min-height: 33px;
    box-sizing: border-box;

    font-family: @circe;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    color: #000;

    @media @tablet-width {
        display: inline-block;
    }

    &--natural {
        padding-left: 42px;

        @media @tablet-width {
            width: 160px;
            padding-left: 66px;
            margin-right: 60px;
        }

        &::before {
            position: absolute;
            bottom: 2px;
            left: 0;

            width: 33px;
            height: 33px;

            content: url("../img/mobile/natural-icon.png");

            @media @tablet-width {
                bottom: -3px;
                left: 2px;

                content: url("../img/natural-icon.png");
                width: 55px;
                height: 55px;      
            }
        }
    }

    &--delivery {
        width: 250px;
        padding-left: 43px;

        @media @tablet-width {
            padding-left: 70px;
        }

        &::before {
            position: absolute;
            bottom: 2px;
            left: 0;

            width: 33px;
            height: 33px;

            content: url("../img/mobile/delivery-icon.png");
            

            @media @tablet-width {
                bottom: -4px;
                left: 1px;

                content: url("../img/delivery-icon.png");
                width: 55px;
                height: 55px;
            }
        }
    }
}