.main-header__menu {
    text-transform: uppercase;
}
.main-header__logo {
    margin-top: -8px;

    font-family: @playFair;
    font-size: 23px;
    line-height: 33px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1.15px;
    color: @main-text-color;
}