.main-title {
    margin: 0;
    margin-bottom: 5px;

    font-family: @playFair;
    font-size: 78px;
    line-height: 70px;
    letter-spacing: 5.85px;

    @media @tablet-width {
        font-size: 60px;
        line-height: 55px;
        letter-spacing: 4.5px;
    }

    @media @mobile-width {
        margin-top: 25px;

        font-size: 40px;
        line-height: 36px;
        letter-spacing: 3px;
        text-align: center;
    }
}