.main-footer {
    background-color: #e8e8e8;
}
.main-footer__logo {
    font-family: @playFair;
    font-size: 28px;
    line-height: 43px;
    font-weight: 700;
    font-style: normal;
    color: @main-text-color;
}