.main-header {
    position: relative;
    
    @media @tablet-width {
        padding: 0 48px;
        background-color: #fff;
        box-sizing: border-box;
    }

    @media @mobile-width {
        padding: 0 20px;
    }
}
.main-header__nav {
    padding-top: 60px;
    padding-bottom: 10px;

    @media @tablet-width {
        padding: 14px 0;
    }

    @media @mobile-width {
        padding: 4px 0;

        & .main-nav__tel {
            display: none;
        }
    }
}
.main-header__menu {
    margin-right: auto;
    
    text-transform: uppercase;

    @media @tablet-width {
        position: absolute;
        left: 0;
        top: 100%;

        display: block;
        width: 320px;
        background-color: #e7e7e7;
    }

    @media @mobile-width {
        width: 100%;
    }
}
.main-header__menu li {
    @media @tablet-width {
        width: 100%;
        margin: 0;
        padding: 13px 0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .05); 

        font-size: 12px;
        line-height: 14px;
        text-align: center;
    }
}
.main-header__logo {
    margin-top: -8px;
    margin-right: 45px;

    font-family: @playFair;
    font-size: 23px;
    line-height: 33px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1.15px;
    color: @main-text-color;

    @media @tablet-width {
        margin-top: 0;
        margin-right: 21px;

        font-size: 20px;
        line-height: 32px;
    }

    @media @mobile-width {
        font-size: 16px;
    }
}