.order__title {
    margin: 0;

    font-family: "PlayfairDisplay", sans-serif;
    font-size: 27px;
    line-height: 66px;
    font-weight: 700;
    font-style: normal;
    color: #2d2829;
}
.order__form {
    display: flex;
    align-items: flex-end;
}
.order__form-field-wrap {
    margin: 0;
    margin-right: 82px;
}
.order__form-field-wrap:last-of-type {
    margin-right: 27px;
}
.order__form-label {
    display: block;
    margin-bottom: 14px;

    font-family: "IntroScriptR", cursive;
    font-size: 27px;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
    color: #f50049;
}
.order__form-field {
    border: 0;
    border-bottom: 1px solid #c1b0af;
    outline: none;

    font-family: "Circe", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
    color: #2d2829;
}
.order__form-field--fill {
    width: 250px;
}
.order__form-field--size {
    width: 140px;
}
.order__form-field--decoration {
    width: 250px;
}
.order__form-submit {
    min-width: 226px;
}