.order__title {
    margin: 0;

    font-family: @playFair;
    font-size: 27px;
    line-height: 70px;
    font-weight: 700;
    font-style: normal;
    color: @main-text-color;

    @media @tablet-width {
        font-size: 18px;
        line-height: 35px;
    }

    @media @mobile-width {
        padding-left: 4px;
        margin-bottom: 8px;

        font-size: 22px;
    }
}

.order__form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.order__form-field-wrap {
    margin: 0;
    margin-right: 82px;
    margin-bottom: 10px;

    @media @tablet-width {
        margin-right: 21px;
    }
    
    @media @mobile-width {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }

    &:last-of-type {
        margin-right: 27px;
        
        @media @tablet-width {
            margin-right: 41px;
        }

        @media @mobile-width {
            margin-right: 0;
            margin-bottom: 28px;
        }
    }
}
.order__form-label {
    display: block;
    margin-bottom: 14px;

    font-family: @introScr;
    font-size: 27px;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
    color: @pink-color;

    @media @tablet-width {
        margin-bottom: 9px;

        font-size: 18px;
        line-height: 19px;
    }

    @media @mobile-width {
        width: 96%;
        margin-bottom: 9px;

        font-size: 20px;
        text-align: center;
    }
}
.order__form-field {
    border: 0;
    border-bottom: 1px solid #c1b0af;
    outline: none;

    font-family: @circe;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
    color: @main-text-color;

    @media @tablet-width {
        padding: 0 27px;
        border: 1px solid #dddddd;
        border-radius: 15px;
        box-sizing: border-box;

        font-size: 12px;
        text-align: center;
    }

    @media @mobile-width {
        width: 95%;

        font-size: 14px;
        line-height: 30px;
    }

    &--fill {
        width: 250px;

        @media @tablet-width {
            width: 160px;
        }

        @media @mobile-width {
            margin-top: -4px;
        }
    }

    &--size {
        width: 140px;

        @media @tablet-width {
            width: 74px;
        }
    }
    
    &--decoration {
        width: 250px;

        @media @tablet-width {
            width: 160px;
        }
    }
}
.order__form-submit {
    min-width: 226px;
    margin-bottom: 10px;

    @media @tablet-width {
        min-width: 160px;
        padding: 10px 0;

        font-size: 10px;
        line-height: 22px;
    }

    @media @mobile-width {
        min-width: 226px;
        margin: 0 auto;
        padding: 15px 0;

        font-size: 13px;
    }
}