.order-how__outer-wrap {
    background-image: url("../img/bg.jpg");
    margin-bottom: 35px;

    @media @tablet-width {
        margin-bottom: 40px;
    }

    @media @desktop-width {
        margin-bottom: 63px;
    }
}

.order-how {
    max-width: 500px;
    min-height: 481px;
    margin: 0 auto;
    padding: 32px;
    padding-right: 28px;
    background-image: url("../img/mobile/order-how-bg.jpg");
    background-repeat: no-repeat;
    background-size: 320px 123px;
    background-position: bottom center;
    box-sizing: border-box;

    color: #fff;

    @media @tablet-width {
        max-width: 1000px;
        min-height: auto;
        padding-top: 44px;
        padding-bottom: 40px;
        background-image: url("../img/tablet/order-how-bg.jpg");
        background-size: contain;
        background-position: left bottom;
    }

    @media @desktop-width {
    /*max-width: @min-desktop-width;*/
        min-height: 704px;
        padding-top: 109px;
        padding-right: 60px;
        padding-bottom: 40px;
        margin: 0 auto;
        background-image: url("../img/order-how-bg.jpg");
        background-size: contain;
        background-repeat:  no-repeat;
        background-position: left 0 bottom -30px;
    }
}

.order-how__inner-wrap {
    @media @tablet-width {
        max-width: 417px;
        margin-left: auto;
        box-sizing: border-box;
    }
    @media @desktop-width {
        max-width: 487px;
    }
}

.order-how__title {
    padding-left: 0;
    margin-bottom: 30px;

    line-height: 24px;
    color: inherit;
    letter-spacing: 0;

    @media @tablet-width {
        padding-left: 5px;
        margin-bottom: 24px;

        text-align: left;
    }

    @media @desktop-width {
        margin-bottom: 28px;
        padding-left: 12px;
    }
}

.order-how__list {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: num;

    @media @tablet-width {
        max-width: 380px;
    }
}

.order-how__item {
    position: relative;
    padding-left: 35px;
    margin-bottom: 17px;

    @media @tablet-width {
        padding-left: 48px;
        margin-bottom: 25px;
    }

    @media @desktop-width {
        padding-left: 50px;
        margin-bottom: 27px;
    }
    
    &::before {
        position: absolute;
        left: 5px;
        top: -7px;
        counter-increment: num 1;

        content: counter(num);
        font-family: @playFair;
        font-size: 36px;
        line-height: 32px;    

        @media @tablet-width {
            top: -7px;
            left: 7px;
        }

        @media @desktop-width {
            font-size: 64px;
        }
    }

    &:first-child {
        margin-bottom: 18px;

        @media @tablet-width {
            max-width: 270px;
            margin-bottom: 25px;
        }

        @media @desktop-width {
            max-width: 370px;
            margin-bottom: 33px;
        }
    }

    &:first-child::before {
        top: -5px;
        left: 7px;

        @media @tablet-width {
            top: -2px;
        }

        @media @desktop-width {
            top: 0;
            left: 7px;
        }
    }

    &--outside {
        @media @tablet-width {
            max-width: 230px;
        }
    }
}

.order-how__item-title {
    display: block;

    font-family: @circe;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;

    @media @desktop-width {
        margin-bottom: 3px;

        font-size: 21px;
        line-height: 27px;
    }
}

.order-how__item-text {
    margin: 0;

    font-family: @circe;
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
    font-weight: 400;

    @media @desktop-width {
        font-size: 20px;
        line-height: 24px;
    }
}

.order-how__item-text .line-break {
    @media @mobile-width {
        display: inline;
    }
}
