.reviews {
    position: relative;

    max-width: 500px;
    padding: 0 20px;
    padding-top: 26px;
    margin: 0 auto;
    margin-bottom: 52px;

    @media @tablet-width {
        max-width: 1000px;
        margin-bottom: 132px;
        padding-top: 37px;
    }

    @media @desktop-width {
        max-width: 1700px;
        padding-top: 96px;
        margin-bottom: 170px;
    }

    &::before {
        @media @tablet-width {
            position: absolute;
            top: -8px;
            left: 0;

            content: "";
            width: 316px;
            height: 143px;
            background-image: url("../img/tablet/reviews-illustr.png");
            background-repeat: no-repeat;
            background-size: contain;
            transform: none;
            z-index: -1;
        }

        @media @desktop-width {
            top: 0;
            right: 0;
            width: 546px;
            height: 150px;

            content: "";
            background-image: url("../img/reviews-illustr.png");
            transform: scale(-1, 1);
        }
    }
    &::after {

        @media @tablet-width {
            position: absolute;
            top: -8px;
            right: 0;
            transform: scale(-1, 1);

            width: 316px;
            height: 143px;

            content: "";
            background-image: url("../img/tablet/reviews-illustr.png");
            background-repeat: no-repeat;
            background-size: contain;
            z-index: -1;
        }

        @media @desktop-width {
            top: 0;
            width: 546px;
            height: 150px;

            background-image: url("../img/reviews-illustr.png");
            transform: none;
        }
    }
}

.reviews__title {
    line-height: 63px;
    text-align: center;
    color: @main-text-color;

    @media @tablet-width {
        margin-bottom: 20px;
    }

    @media @desktop-width {
        margin-bottom:27px;
    }
}

.reviews__slider-wrap {
    
    @media @tablet-width {
        max-width: 588px;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }

    @media @desktop-width {
        max-width: 850px;
        padding: 20px 0;
        padding-right: 10px;
    }
}

.reviews__list {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 627px;
    padding-bottom: 4px;
    margin: 0 auto;
    overflow: hidden;

    @media @tablet-width {
        max-width: 588px;
        padding: 0 55px;
    }
}

.reviews__item {
    display: none;

    &--current {
        display: block;
        width: 94%;

        text-align: center;

        @media @tablet-width {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;

            max-width: 100%;

            text-align: left;
        }
    }
}

.reviews__comment-author-avatar {
    display: block;
    width: 58px;
    height: 58px;
    margin: 0 auto;
    margin-bottom: 7px;
    border-radius: 50%;

    @media @tablet-width {
        width: 107px;
        height: 107px;
        margin-right: 4px;
        margin-top: 27px;
    }

    @media @desktop-width {
        width: 209px;
        height: 209px;
        margin-right: 52px;
    }
}

.reviews__comment-wrap {
    max-width: 360px;
    margin: 0 auto;

    font-family: @circe;
    color: @main-text-color;

    @media @tablet-width {
        width: 270px;
    }
}

.reviews__comment-author {
    display: block;
    margin-bottom: 8px;

    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    font-style: normal;

    @media @tablet-width {
        margin-bottom: 8px;

        font-size: 16px;
        line-height: 19px;
    }

    @media @desktop-width {
        margin-bottom: 23px;

        font-size: 27px;
        line-height: 27px;
    }
}

.reviews__comment-author-info {
    display: block;

    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;

    @media @tablet-width {
        font-size: 14px;
        line-height: 17px;
    }

    @media @mobile-width {
        font-size: 12px;
        line-height: 15px;
    }
}

.reviews__comment {
    width: 230px;
    margin: 0 auto;
    margin-left: auto;
    padding: 0 17px;

    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    font-style: normal;
    text-align: center;

    @media @tablet-width {
        width: auto;
        max-width: 252px;
        margin: 0;
        padding: 0;

        font-size: 14px;
        line-height: 17px;
        text-align: left;
    }

    @media @desktop-width {
        margin: 0;

        font-size: 18.4px;
        line-height: 24px;
    }
}

.reviews__unwrap-comment {
    display: inline-block;
    border-bottom: 1px solid #f87b91;

    color: @pink-color;
    color: #f87b91;
    font-style: italic;
    font-size: 12px;
    line-height: 7px;

    @media @tablet-width {
        margin-left: 0;
        border-color: @pink-color;

        font-size: 14px;
        line-height: 14px;
        cursor: pointer;
    }

    @media @desktop-width {
        margin-left: 14px;

        font-size: 16px;
        line-height: 16px;
    }
}

.reviews__slider-control--right {
    margin-right: 9px;

    @media @tablet-width {
        margin: 0;
    }
}

.reviews__slider-counter-wrap {
    bottom: 0;
    right: 47px;

    @media @tablet-width {
        bottom: -20px;
        right: 88px;
    }

    @media @mobile-width {
        right: 0;
        bottom: 0;
    }
}

.reviews__slider-counter {
    color: @pink-color;
}

.reviews__round-controls-wrap {
    bottom: -15px;
}
