.select-decoration {
    padding-right: 66px;
    padding-top: 45px;
    padding-left: 72px;
    padding-bottom: 61px;
    margin-bottom: 0;
    background-image: url("../img/decoration.png");
    background-repeat: no-repeat;
    background-position: 17px 197px;

    @media @tablet-width {
        padding-right: 8px;
        padding-top:24px;
        padding-bottom: 33px;
        padding-left: 45px;
        background-size: 119px 157px;
        background-position: 4px 124px;
    }

    @media @mobile-width {
        padding: 0 12px 34px;
        margin: 0;
        background-image: none;
    }
}

.select-decoration__title {
    padding-left: 8px;

    @media @tablet-width {
        padding-left: 0;
    }

    @media @mobile-width {
        margin-left: 5px;
    }
}

.select-decoration .individual-order__title-number {
    margin-bottom: 11px;

    @media @tablet-width {
        margin-bottom: 0;
    }
}

.select-decoration__slider-wrap {
    max-width: 836px;
    margin-left: 222px;
    margin-top: 16px;
    margin-bottom: 32px;
    padding: 0 45px;
    box-sizing: border-box;

    @media @tablet-width {
        max-width: 552px;
        margin-right: 18px;
        margin-bottom: 24px;
        margin-top: 10px;
        margin-left: 104px;
    }

    @media @mobile-width {
        margin: 0;
        margin-bottom: 35px;
        padding-top: 64px;
    }
}

.select-decoration__slide-list-wrap {
    overflow: hidden;
}

.select-decoration__decoration-list {
    /*display: flex;*/

    /*@media @tablet-width {
        max-width: 552px;
    }*/

    @media @mobile-width {
        justify-content: center;

        padding: 0;
        margin-bottom: 18px;
    }
}

.select-decoration__decoration-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;

    max-width: 321px;
    margin: 0 26px 10px 26px;
    padding: 18px;
    padding-top: 90px;
    padding-bottom: 25px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .05);

    text-align: center;

    @media @tablet-width {
        width: 195px;
        padding: 50px 0 17px;
    }

    @media @mobile-width {
        display: none;
        justify-content: flex-start;

        padding: 0;
        box-shadow: none;
    }

    &:hover,
    &:focus {
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14);

        @media @mobile-width {
            box-shadow: none;
        }
    }

    &--current {
        @media @mobile-width {
            display: flex;
        }
    }
}
    
.select-decoration__decoration-img {
    margin-bottom: 30px;

    @media @tablet-width {
        width: 175px;
        margin-bottom: 5px;
    }

    @media @mobile-width {
        width: 169px;
        height: 196px;
        margin-bottom: 25px;
        box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .05);
    }
}
.select-decoration__decoration-name {
    margin: 0;

    font-family: "Circe", sans-serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
    color: #2f2f2f;

    @media @tablet-width {
        font-size: 14px;
        line-height: 18px;
    }
}

.select-decoration__decoration-price {
    margin: 0;

    font-family: "PlayfairDisplay", sans-serif;
    font-size: 22px;
    line-height: 25px;
    font-weight: 700;
    font-style: normal;

    @media @tablet-width {
        font-size: 14px;
        line-height: 18px;
    }

    @media @mobile-width {
        font-size: 18px;
        line-height: 26px;
    }
}

.select-decoration__slider-controls-wrap {
    box-sizing: border-box;

    @media @tablet-width {
        padding: 0;
    }
}

.select-decoration__slider-counter {
    bottom: -10px;
    right: 2px;

    @media @tablet-width {
        bottom: -4px;
        right: 6px;
    }

    @media @mobile-width {
        top: 240px;
        right: 48px;     

        font-size: 12px;       
    }
}

.select-decoration__slider-counter .slider__counter {
    @media @mobile-width {
        color: rgba(47, 47, 47, 0.7);
    }
}

.select-decoration__btn {
    display: none;

    @media @mobile-width {
        display: block;
        min-width: 178px;
        padding-top: 13px;
        padding-bottom: 12px;
        margin: 0 auto;

        font-size: 13px;
    }
}