.select-fill {
    margin-bottom: 10px;

    @media @tablet-width {
        margin-bottom: 35px;
        padding: 40px 44px 50px;
    }
}

.select-fill__title {
    line-height: 36px;
}

.select-fill__slider-wrap {
    position: relative;

    padding-top: 56px;
    overflow: hidden;

    @media @tablet-width {
        max-width: 592px;
        margin-left: 44px;
        padding: 4px 0;
    }

    @media @desktop-width {
        max-width: 900px;
        margin-left: 114px;
        padding: 35px 0;
    }
}

.select-fill__fills-list {
}

.select-fill__fills-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 0;

    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;

    @media @tablet-width {
        padding-top: 8px;
        padding-left: 52px;
        padding-right: 40px;
    }

    @media @desktop-width {
        padding: 0 25px;
    }
}


.select-fill__round-controls-wrap {
    top: 180px;
}

.select-fill .individual-order__title-number {
    font-size: 30px;
    line-height: 48px;

    @media @tablet-width {
        margin-bottom: 6px;

        font-size: 36px;
        line-height: 20px;
    }

    @media @desktop-width {
        font-size: 58px;
        line-height: 60px;
    }
}

.select-fill__fills-img {
    display: block;
    flex-shrink: 0;

    @media @tablet-width {
        margin-right: 25px;
    }

    @media @desktop-width {
        margin-right: 39px;
    }
}

.select-fill__fills-text-wrap {
    padding-top: 31px;

    @media @tablet-width {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;

        max-width: 200px;
        padding-top: 19px;
    }

    @media @desktop-width {
        justify-content: center;

        max-width: 312px;
        padding-top: 10px;
    }
}

.select-fill__fills-title {
    margin: 0;

    font-family: @circe;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;

    @media @tablet-width {
        font-size: 18px;
    }

    @media @desktop-width {
        font-size: 20px;
    }
}

.select-fill__fills-descr {
    margin: 0;
    margin-bottom: 14px;

    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;

    @media @tablet-width {
        margin-bottom: 9px;

        font-size: 14px;
        line-height: 16px;
    }

    @media @desktop-width {
        margin-bottom: 20px;

        font-size: 18px;
        line-height: 24px;
    }
}

.select-fill__fills-price {
    display: block;
    width: 100%;
    margin-bottom: 21px;

    font-family: @playFair;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    @media @tablet-width {
        margin-bottom: 25px;

        font-size: 21px;
        line-height: 26px;
        text-align: left;
    }

    @media @desktop-width {
        margin-bottom: 48px;
    }
}

.select-fill__fills-btn {
    display: block;
    min-width: 178px;
    padding-top: 13px;
    padding-bottom: 12px;
    margin: 0 auto;

    font-size: 13px;

    @media @tablet-width {
        min-width: 135px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-left: 3px;

        font-size: 10px;
    }

    @media @desktop-width {
        min-width: 178px;
        margin-left: 5px;
        padding: 13px 0;

        font-size: 13px;
        line-height: 26px;
    }
}

.select-fill__slider-counter {
    top: 144px;
    right: 9px;

    @media @tablet-width {
        bottom: 0px;
        top: auto;
        right: 22px;
    }

    @media @desktop-width {
        bottom: 26px;
        right: 4px;
    }
}

.select-fill__slider-counter .slider__counter {
    color: #ffffff;

    @media @tablet-width {
        color: #2f2f2f;
    }
}
