.select-fill {
    @media @tablet-width {
        margin-bottom: 21px;
        padding: 27px 44px 30px;
    }
}
.select-fill__slider-wrap {
    max-width: 900px;
    margin-left: 114px;
    padding: 27px 0;

    @media @tablet-width {
        max-width: 592px;
        margin-left: 44px;
        padding: 19px 0;
    }
}
.select-fill__fills-list {
    max-width: 850px;
    margin: 0 auto;
}
.select-fill__fills-item {
    max-width: 695px;
    margin: 0 auto;
    box-sizing: border-box;

    display: flex;

    &:nth-child(n + 2) {
        display: none;
    }

    @media @tablet-width {
        max-width: 423px;
        padding-top: 8px;
    }
}
.select-fill__fills-img {
    flex-shrink: 0;
    margin-right: 40px;

    @media @tablet-width {
        width: 210px;
        height: 239px;
        margin-right: 36px;
    }
}
.select-fill__fills-text-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    max-width: 312px;
    padding-top: 10px;

    @media @tablet-width {
        justify-content: flex-start;

        max-width: 200px;
        padding-top: 19px;
    }
}
.select-fill__fills-title {
    margin: 0;

    font-family: @circe;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;

    @media @tablet-width {
        font-size: 18px;
    }
}
.select-fill__fills-descr {
    margin: 0;
    margin-bottom: 20px;

    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;

    @media @tablet-width {
        margin-bottom: 10px;

        font-size: 14px;
        line-height: 16px;
    }
}
.select-fill__fills-btn {
    min-width: 178px;
    margin-left: 5px;

    @media @tablet-width {
        min-width: 135px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-left: 3px;

        font-size: 10px;
    }
}
.select-fill__fills-price {
    margin-bottom: 50px;

    font-family: @playFair;
    font-size: 21px;
    line-height: 26px;

    @media @tablet-width {
        margin-bottom: 23px;
    }
}
.select-fill__slider-counter {
    bottom: 18px;
    right: 4px;

    @media @tablet-width {
        bottom: 20px;
        right: 22px;
    }
}
    